[alias]
	st = status
	co = checkout
	ci = commit
	cf = !sh -c \"git diff --name-only | uniq | xargs subl -n\"
[core]
	editor = nvim
	excludesfile = /Users/tylerfisher/.gitignore
[user]
	email = tfisher21@gmail.com
	name = Tyler Fisher
[pager]
	branch = false
[grep]
	lineNumber = true
[credential]
	helper = osxkeychain

[init]
	defaultBranch = main
